name: initiate

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - run: make install
      - run: make lint
      - run: make test
      - uses: hexlet-components/hello-from-hexlet-action@release